body {
    background-color: black;
}

.h1MainTitle{
    color: rgb(135, 30, 12);
    font-family: "Kommisar", serif;
    font-size: 70px;
    text-align: center;
      }

      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }

.Album1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
 
    width: 80%; 
    height: auto;
  }

.WhitePic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 50%; 
    height: auto;
}

.bandMembers {
    color: rgb(135, 30, 12);
    font-family: "Kommisar", serif;
    text-align: center;
    border-style: groove;
    border-color: antiquewhite;
    padding-top: 20px;
    padding-right: 10px; 
    padding-bottom: 20px;
    padding-left: 40px;
      }

.h3 {
    color: rgb(135, 30, 12);
    font-family: "Kommisar", serif;
    text-align: center;
}

.QueenPic3 {
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    width: 50%; 
    height: auto;
}

.QueenAlbumPic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.sheerheartattack {
    position: absolute;
    right: 30px;
    width: 400px;
    padding: 120px;
}

.nightattheopera {
  position: absolute;
  left: 30px;
  width: 400px;
  padding: 120px;
}

div {
  width: 370px;
  border: 25px solid rgb(67, 2, 68);
  padding: 90px;
  margin: 600px;

  color: rgb(135, 30, 12);
  font-family: "Kommisar", serif;
  font-size: large;
  text-align: center;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
 